.banner-container {
  display: flex;
  height: 3rem;
  padding: 0 10px;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(146, 203, 240, 0.637);
  border-bottom: 2px solid rgba(144, 164, 170, 0.542);
}

.banner-title-container {
  margin-bottom: 0;
  text-transform: capitalize;
}

.banner-title {
  display: flex;
}

.banner-title-user {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.layer-icon {
  margin: 0 10px;
}

.top-layer-link {
  margin-left: 20px;
  padding: 6px;
  padding-top: 10px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.453);
  border-radius: 15px 15px 0 0;
}

.user-info-container {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.453);
  border-radius: 15px 15px 0 0;
}

.log-out-btn,
.banner-log-out-btn {
  cursor: pointer;
}

.log-out-btn:hover,
.banner-log-out-btn:hover {
  text-decoration: underline;
}

.vertical-spacer {
  height: 0.9rem;
  margin: 0 5px;
  align-self: center;
  border-left: 2px solid rgba(0, 0, 0, 0.248);
}

.log-in {
  display: flex;
  justify-content: flex-end;
}

.posts-container {
  display: flex;
  flex-direction: column;

}

.posts {
  display: flex;
  grid-area: posts;
  flex-direction: column;
}




