.post-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label {
  background-color: rgba(115, 152, 172, 0.289);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.post-title-input {
  width: 500px;
}

.post-text-input {
  width: 600px;
  height: 300px;
  resize: none;
  vertical-align: top;
}

.post-layer-input {

}

.post-submit {
  color: white;
  background-color: #555555;
  width: 200px;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.post-submit:hover {
  background-color: #444444;
}